*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gridContainer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    padding-top: 60px;
}







.filterButtonField{

    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.filterButton{
    border: 0;
    background-color: #FF4053;
    color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
   
    border-radius: 20px;
}


.verticalLineSection{
    position: absolute;
    left: 250px;
    top: 120px;
    border-left: 1px solid #000;
    height: 100%;
}


.advertsContainer{
    position: relative;
    right: 120px;
}

