

body{
  background-color: #e1e1e1;
}




.myAdsContainer{

  position: relative;
  background-color: rgb(224,224,224);
  border-color: #000;
  border: 3px solid #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 100%;
}

.myAdsContainer h3{

  position: absolute;
  top: 35%;
  left: 20%;
  

}


.myAdvertPage{

  margin-top: 150px;
  width: 20%;
 
  

 
 
}

.pageContainer{
  display: flex;
  flex-direction: row;
  justify-content: inherit;
}

#dropdown-basic-button{
  border: 1px solid #000;
  background-color: rgb(224,224,224);
  color: #000;
  width: 55%;
  text-align: left;
  border-radius: 0 30px 30px 0;
  margin: 10px auto;
}

.myAdvertsComponentContainer{
  background-color: rgb(224,224,224);

}











.advertContainer{
  
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}



.filters{

  display: grid;
  width: 100%;
 
}


#filterButton{

  margin-top: 10px;
}

.cardItem{
  width: 200px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.2);

}


.cardImage img{
  overflow: hidden;
  width: 300px;
  height: 200px;
}


.firstColumn{

  position: absolute;
  left: 0;
  padding-top: 50px;
  padding-right: 20px;
  
}



.secondColumn{
  padding-left: 150px;
}


.dropdownHeight{

  height: 250px;
  overflow-y: auto;

}




.horizontalLine{

  border-bottom: 1px solid #000;
}


.reviewAdsContainer{
  display: flex;
  flex-direction: row;
  
  
  
}

.reviewAds{

  position: absolute;
  top: 150px;
  left: 350px;
}


.reviewAdsLine{
  border-bottom: 1px solid #000;
  width: 1000px;

  
}


.sortContainer{

  position: absolute;
  top: 150px;
  right: 150px;

}

.sort{
  border: 1px solid #ff0453;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ff4053;
  background-color: #e1e1e1;
  border-radius: 30px;
}




.sortDropdownMenu{
  position: absolute;
  top: 190px;
  right: 140px;
  background-color: #e0e0e0;
  padding: 10px 10px;
  width: 200px;
  box-shadow: 0 10px 10px 5px rgba(0,0,0,.2);
  border-radius: 30px;
  z-index: 2;
}






.sortDropdownMenu ul li{
  padding: 10px 0;
 
}

.sortDropdownMenu li:hover{
  background-color: #e0e0e0;
}

.sortDropdownMenu ul li:hover a{
  cursor: pointer;
  
}

.sortDropdownMenu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}


.sortDropdownItem{
  display: flex;
  margin: 1px auto;
  font-size: 1rem;
  color: #FF4053;
}



.sortDropdownMenu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  
}

.sortDropdownMenu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  
}


.mainBody{

  display: flex;
  flex-direction: column;
  justify-content: center;
}
  

 


