

.headerContainer{

}

.reviewAdvertHeader{
    position: absolute;
    background-image: linear-gradient(to right, #FD7D5A, #FF294F);
    padding-top: 50px;
    padding-left: 350px;
    overflow: visible;
    width: 100%;
    
}


.reviewAdsHeader{

  background-image: linear-gradient(to right, #FD7D5A, #FF294F);
  padding-top: 70px;
}

.reviewAds{

  color: #fff;
  position: absolute;
  left: 25%;
  margin-bottom: 30px;
  font-size: 1.7rem;
 
}


.reviewAdvertHeader h3{

    font-size: 1.7rem;
    color: #fff;
    
    
}

.myAdsContainer{

  position: relative;
  background-color: rgb(224,224,224);
  border-color: #000;
  border: 3px solid #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 100%;
}

.myAdsContainer h3{

  position: absolute;
  top: 35%;
  left: 20%;
  

}


.myAdvertPage{

  margin-top: 50px;
  margin-right: 10px;
 
}

#dropdown-basic-button{
  background-color: rgb(224,224,224);
  color: rgb(224,224,224);
}

.myAdvertsComponentContainer{
  background-color: rgb(224,224,224);
}










.advertContainer{
  
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}



.filters{

  display: grid;
  width: 100%;
 
}


#filterButton{

  margin-top: 10px;
}

.cardItem{
  width: 200px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.2);

}


.cardImage img{
  overflow: hidden;
  width: 300px;
  height: 200px;
}


.firstColumn{

  position: absolute;
  left: 0;
  padding-top: 50px;
  padding-right: 20px;
  
}



.secondColumn{
  padding-left: 150px;
}

  

 


