*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --mainColor: #fff;

}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 5rem;
    background-color: #e0e0e0;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.navbar a{
    margin: 0 2.5rem;
    text-decoration: none;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


header .create-ad{
     border-radius: 50px;
    outline: none;
    color: #fff;
    font-size: 0.9rem;
   border: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #FF4053;

}

header .logo{

    font-size: 1.5rem;
    text-transform: uppercase;
    justify-content: space-around;
    color: #FF4053;
}

.profile-field{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}


.menuTrigger .profile-photo{
  
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 30px;
    border-radius: 50%;
    justify-content: space-between;
    cursor: pointer;

}

.dropdownMenu{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #e0e0e0;
    padding: 10px 10px;
    width: 200px;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,.2);
    border-radius: 30px;
    z-index: 2;
   
}






.dropdownMenu ul li{
    padding: 10px 0;
   
}

.dropdownMenu li:hover{
    background-color: #e1e1e1;
}

.dropdownMenu ul li:hover a{
    cursor: pointer;
    
}

.dropdownMenu ul li:hover img{
    opacity: 1;
    cursor: pointer;
}


.dropdownItem{
    display: flex;
    margin: 10px auto;
  
}

.dropdownItem img{
    max-width: 20px;
    
    opacity: 0.5;


}

.dropdownIcon{

    width: 30px;
    font-size: 1.5rem;
    color: #ff0453;
}

.dropdownItem a{

    text-decoration: none;
    color: #000;
    margin-left: 10px;
}

.dropdownMenu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    
  }
  
  .dropdownMenu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    
  }


.createAdvertImages img{

    width: 75%;
    margin-top: 15px;
}


.createAdvertVertical{

    border-left: thick solid #000;
}

.createAdvertInput{

    display: grid;
    grid-template-columns: 1fr;
    gap: 2.2rem;
    margin-top: 20px;
    
}

.createAdvertInput input{

    border: none;
    background-color: #e0e0e0;
    color: #e0e0e0e0;
    border-bottom: 1px solid #000;
}

.createAdvertInput input::placeholder{

    font-size: 1.1rem;
}

.selectCity{

    border: none;
    border-bottom: 1px solid #000;
}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }

.createAdvertContent{

    height: 100px;
}

.createAdvertButtonContainer{

    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .createAdvertButton{
  
    background-color: #ff0453;
    color: #fff;
    border: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
  }


  .createCloseButton{

    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
    color: #000;
    margin-top: 10px;
  }

  .createCloseButton::after{

    content: "\d7";
    font-size: 4rem;
    font-weight: lighter;
    
    cursor: pointer;

  }


  .createCloseButtonContainer{

    padding: 15px;
  }