*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register{

    background: url('./images/login-register-background.png');
    background-size: cover;
    overflow: hidden;
    height: 115vh;
    
    
}

.register{

    padding-left: 70px;
    padding-top: 35px;
    

}

.register-field{

    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
}

.register-field input{

    padding-top: 20px;
    overflow: hidden;
}

.register-fill{

    border: none;
	border-bottom: 2px solid #fff;
	background: none;
	padding: 10px;
	padding-left: 1px;
	font-weight: 700;
	width: 30%;
	transition: .2s;
}

.register-fill:active, .register-fill:focus, .register-fill:hover{
    outline: none;
}

.regForm{

    height: 100vh;
}

.register-fill::placeholder{

    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.register-fill .register-fill::placeholder{

    padding-top: 20px;
}

.button-field{

    padding-bottom: 40px;
}

.buttonOfRegister{

    background-color: #fff;
    border-radius: 40px;
    font-size: 1.5rem;
    padding: 2px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FF4053;
    overflow: hidden;
}

.username-error-line, .name-error-line, .surname-error-line, .password-error-line, .password-again-error-line{
    visibility: hidden;
}

.error{
    padding-top: 20px;
}

.error-line{
    color: #FF4053;
    background-color: #fff;
    width: 20%;
    font-size: 0.6rem;
    padding: 5px;
    border-radius: 15px;

}


