.popup{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    border-radius: 20px;
}

.popup-inner .close{
    position: absolute;
    top: 16px;
    right: 16px;
}

.update-form{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}



.update-fill{
    border: 0;
    border-radius: 20px;
    background-color: #e1e1e1;
    padding: 10px;
	padding-left: 1px;
	font-weight: 700;
	width: 90%;
	transition: .2s;
    margin-bottom: 15px;
    opacity: 0.8;
}

.update-fill::placeholder{
    color: #ff4053;
    padding: 10px;
}

.update-fill .update-fill::placeholder{

    padding-top: 20px;
}

.update-button-field{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center; 
    transform: translateX(40%);   
}

.update-popup-button{
    border: 0;
    background-color: #FF4053;
    border-radius: 40px;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    color: #fff;
}


